body,html{margin:0px}
body{width:70%;padding-left:15%;padding-right:15%;background-image: url(../img/background.jpg)}
body,input,select,label{font-size:4.5vw}
h3{font-size:3.5vw}
input,select{width:50%}
input[type=checkbox]{width:5%;zoom:1.5}
input[type=radio]{width:5%;zoom:1.5}


form{
	background-color:aliceblue;
	padding:3%;
	border: 1px solid black;
	text-align: left;
}

form:hover{
	border:5px solid yellow;
}

div{
	text-align: center;
	margin-top:5%;
	background-color: #c0c6cc;
	border:1px;
}
p{
	padding-top:0%;
	margin-bottom: 2%;
}
#comp:hover{
		border:5px solid grey;
		margin-bottom:2%;

}
#ques{
	margin:0;
	border: 2px solid black;
    border-radius: 5px;
}

#resultadosDiv{
	text-align: left;
	padding-left: 1%;
	border-radius: 5px;
}

#logo1 {
    position: absolute;
    left: 2%;
    height: 100%;
    border-radius: 50%;
}

#logo2 {
    position: absolute;
    right: 2%;
    height: 100%;
    border-radius: 50%;
}

#header h3 {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-size: 3vw;
    line-height: 230%;
}
#cabecera{
 	display: table;
    background: #c0c6cc;
    width: 100%;
    height: 20%;
    border: solid 2px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0.6vw 0.6vw 0.2vw #0F2202;
    margin-top: 2%;
    background-color: #c0c6cc;
}
#welcome{
 	display: table;
    background: #c0c6cc;
    width: 100%;
    height: 20%;
    border: solid 2px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0.6vw 0.6vw 0.2vw #0F2202;
    margin-top: 2%;
    background-color: #c0c6cc;
    padding:3%;
    text-align: left;
}
#test{

    background: #c0c6cc;
    width: 100%;
    height: 20%;
    border: solid 2px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0.6vw 0.6vw 0.2vw #0F2202;
    margin-top: 2%;
    background-color: #c0c6cc;
    padding:3%;
    text-align: center;
}
#bTest{
 		border:1px solid green;
		margin-bottom:2%;
		background: #c0FFcc;
		font-size: 4.5vw;
}
#menu{

}

.listIntro {
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.listIntro li {
    float: left;
    width: calc(50% - 4px);
    text-align: center;
    border: solid 2px black;
    font-size: 3.5vw;
    line-height: 200%;
    font-weight: bold;
    background: #c0c6cc;
}

.listIntro li:active {
 
    background: white;
}
.listIntro li:hover {
    font-size: 4vw;
}